# Gem5 gitignore
**/__pycache__/
/build
/checkpoints
/benchmark_runs
/kvm_outdir

/.vscode
/m5out/*
/util/m5/build
*.swp
*.log
*.yaml
send_email.py
run_and_notify.sh

# Adding the lat_mem traces in m5out/
!m5out/lat_mem*